/* albums */
.album__card {
  margin: 1rem 0px 4rem 0px;
  display: flex;
  flex-direction: column;
  max-width: 272px;
}
.album__card h1 {
  margin: 2.4rem 0px 0px 0px;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-semibold);
}
.album__image__wrapper {
  border-radius: 12px;
  overflow: hidden;
  align-self: center;
  margin: 0;
  position: relative;
  width: 272px;
  height: 241px;
}
.album__button__add {
  width: 184px;
  height: 44px;
}
.album__button__remove {
  background-color: var(--color-brand-warning);
  color: white;
  width: 184px;
  height: 44px;
}

/* media queries */
@media (max-width: 992px) {
  .album__button__add {
    width: unset;
  }
  .album__button__remove {
    width: unset;
  }
}

@media (max-width: 688px) {
}
