.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: transparent;
  border-radius: 24px;
  overflow: hidden;
}
.card:hover {
  background-color: var(--color-brand-lemon-pie);
}
.card:hover h2 {
  color: black;
}
.card:hover p {
  color: black;
}

.artwork__wrapper {
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  height: 241px;
}
.card h2 {
  line-height: 44px;
  font-weight: var(--font-weight-bold);
  font-size: 3.6rem;
  margin: 0;
  margin-top: 2.4rem;
}
.followers {
  margin: 0;
  font-weight: var(--font-weight-bold);
  margin-top: 2.4rem;
}
.card__button {
  display: none;
  height: 46px;
  z-index: 10;
}

@media (max-width: 992px) {
  .card:hover {
    background-color: unset;
  }
  .card:hover h2 {
    color: white;
  }
  .card:hover p {
    color: white;
  }
  .card__link {
    pointer-events: none;
  }
  .card__button {
    margin-top: 2rem;
    display: block;
  }
}

/* media queries */
@media (max-width: 688px) {
}
