.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.lemon {
  color: var(--color-brand-lemon-pie);
}

.header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  margin-right: 8rem;
  line-height: 20px;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-semibold);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0;
}
.header ul div {
  margin: 0 -12px;
  width: 25px;
  height: 0px;
  border: 1px solid #ffffff;
  transform: rotate(90deg);
}
.logo__image__wrapper {
  position: relative;
  margin: 3.2rem 0 3.2rem 8rem;
  width: 133px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}
.logout {
  position: relative;
  height: 24px;
  width: 24px;
}
.light {
  width: 24px;
  height: 24px;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.main h1 {
  margin: 0;
  font-size: var(--font-size-1);
}
.search__title {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-normal);
  max-width: 464px;
  margin: 3.4rem auto;
  text-align: center;
}

.search__form {
  position: relative;
}
.search__form input {
  outline: none;
  padding: 0 170px 0 24px;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-bold);
  height: var(--font-size-1);
  width: 66rem;
  border-radius: 24px;
}
.search__form button {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-bold);
  border: none;
  position: absolute;
  right: 8px;
  height: 46px;
  top: 8px;
  width: 150px;
  border-radius: 24px;
  background-color: var(--color-brand-lemon-pie);
}

.search__result {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-6);
  margin: 3rem auto;
  width: 90%;
  /* padding: 0 12rem; */
}

.search__results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
}
.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 320px;
  /* height: 401px; */
  background-color: transparent;
  border-radius: 24px;
  overflow: hidden;
}
.card:hover {
  background-color: var(--color-brand-lemon-pie);
}
.card:hover h2 {
  color: black;
}
.card:hover p {
  color: black;
}
.artwork__wrapper {
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  height: 241px;
}
.card h2 {
  line-height: 44px;
  font-weight: var(--font-weight-bold);
  font-size: 3.6rem;
  margin: 0;
  margin-top: 2.4rem;
}
.followers {
  margin: 0;
  font-weight: var(--font-weight-bold);
  margin-top: 2.4rem;
}
.card button {
  display: none;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-bold);
  border: none;
  right: 8px;
  height: 46px;
  top: 8px;
  width: 150px;
  border-radius: 24px;
  background-color: var(--color-brand-lemon-pie);
}

.pagination {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}

@media (max-width: 992px) {
  .logo__image__wrapper {
    position: relative;
    margin-left: 4rem;
  }
  .header ul {
    margin-right: 4rem;
  }

  .search__form input {
    width: 100%;
  }
  .search__result {
    padding: 0;
  }
  .search__results {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .followers {
    display: none;
  }
  .card button {
    margin-top: 2rem;
    display: inline-block;
  }
}

@media (max-width: 688px) {
  .logo__image__wrapper {
    margin: 10px;
    width: unset;
  }
  .header ul {
    margin-right: 10px;
    gap: 1.2rem;
  }
  .search__title {
    margin: 3rem;
    text-align: left;
  }
  .main h1 {
    font-size: var(--font-size-3);
  }

  .search__form input {
    padding: 0 170px 0 24px;
    /* width: 36rem; */
    border-radius: 24px;
  }

  .search__result {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-6);
    margin: 3rem auto;
    padding: 0;
  }
  .search__results {
    display: grid;
    grid-template-columns: 1fr;
  }
}
